/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 31-Mar-2021, 19:01:56
    Author     : srbal
*/

@import "../../vendor/twbs/bootstrap/scss/buttons";

@each $color, $value in $match-outcome-colors {
  .btn-outcome-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $match-outcome-colors {
  .btn-outcome-outline-#{$color} {
    @include button-outline-variant($value);
  }
}

body {
    background-color: #051b11; 
}

.fixturelist-month {
    .accordion-header {
        button {
            color: $blue-900; 
            background-color: $blue-300;
        }
    }
    
    .accordion-body {
        padding: .5rem; 
    }
    
}

.fixturelist-date {
    .accordion-header {
        button {
            color: $blue-700;
            background-color: $blue-200;
        }
    }
    
}

.fixturelist-fixture {
    .accordion-header {
        button {
            background-color: $blue-100;

        }
    }
    
}

.matchlist {
    .comp-header {
        background-color: $gray-700;
        color: $gray-300;
        padding-left: $spacer;
        padding-right: $spacer;
        font-weight: $font-weight-bold;
    }
}


.now_curr_next_bar{
    background-color: $gray-900;
    .nav-link{
        color: $gray-100;
        &:hover{
            color: $blue-200;
        }
    }

}

[class*='btn-outcome-'], 
[class*='btn-outcome-']:hover {
    color: $white;
}

.adm-feature-box{
    background-color: $adm-feature-box-bg;
    padding: $spacer *.25;
    border-width: $adm-feature-box-border-width;
    border-style: solid;
    border-color: $adm-feature-box-border-color;
    @include border-radius($adm-feature-box-border-radius);
    @include box-shadow($adm-feature-box-shadow);
    margin-bottom:$spacer;
    
}

.adm-feature-box-simple-method{
    background-color: $gray-100;
    padding: $spacer *.25;
   //border: $blue-600 solid $border-width *2;
   // border-radius: $border-radius-sm;
    
    border-width: $border-width *2;
    border-style: solid;
    //border-color: $dark;
    
    --bs-border-opacity: .25;
    border-color: rgba($blue-600, var(--bs-border-opacity)) !important;
    
    @include border-radius($border-radius-sm);
    @include box-shadow($box-shadow);
    
    margin-bottom:$spacer;
    
}


// Animation to fade in the dropdown menus
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

// Assigning the above animation to all dropdown menus
.dropdown-menu{
    &.show{
        -webkit-animation: fadeIn 0.3s alternate; /* Safari 4.0 - 8.0 */
         animation: fadeIn 0.3s alternate;
    }
}

// Mega Menu adjustments
.nav-item.dropdown.dropdown-mega{
    position: static;
    .dropdown-menu{
        width: 90%;
        top: auto;
        left: 5%;
    }
}

// Complete styles for main navbar toggler and hamburger menu
.navbar-toggler{
    border: none;
    padding: 0;
    outline: none;
    &:focus{
        box-shadow: none;
    }
    .hamburger-toggle{
        position: relative;
        display: inline-block;
        width: 50px;
        height: 50px;
        z-index: 11;
        float: right;
        .hamburger {
            position: absolute;
            transform: translate(-50%, -50%) rotate(0deg);
            left: 50%;
            top: 50%;
            width: 50%;
            height: 50%;
            pointer-events: none;
            span {
                width: 100%;
                height: 4px;
                position: absolute;
                background: #ffffff;
                border-radius: 2px;
                z-index: 1;
                transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0), background 0.2s cubic-bezier(0.77,0.2,0.05,1.0), all 0.2s ease-in-out;
                left: 0px;
                &:first-child{
                    top: 10%;
                    transform-origin: 50% 50%;
                    transform: translate(0% -50%) !important;
                }
                &:nth-child(2){
                    top: 50%;
                    transform: translate(0,-50%);
                }
                &:last-child{
                    left: 0px;
                    top: auto;
                    bottom: 10%;
                    transform-origin: 50% 50%;
                }
            }
            &.active{
                span {
                    position: absolute;
                    margin: 0;
                    &:first-child{
                        top: 45%;
                        transform: rotate(45deg);
                    }
                    &:nth-child(2){
                        left: 50%;
                        width: 0px;
                    }
                    &:last-child{
                        top: 45%;
                        transform: rotate(-45deg);
                    }
                }
            }
        }
    }
}


.icons{
  display: inline-flex;
  margin-left: auto;
  a{
    transition: all 0.2s ease-in-out;
    padding: 0.2rem 0.4rem;
    color: #ccc !important;
    text-decoration: none;
    &:hover{
      color: white;
      text-shadow: 0 0 30px white;
    }
  }
}

