$utilities: (
  "background-color": (
    property: background-color,
    class: bg,
    values: map-merge(
      map-merge(
        $site-colors,
        $fixture-colors
      ), 
      $match-outcome-colors
    )
  ),
  
  "colors": (
    property: color,
    class: text,
    values: map-merge(
      map-merge(
        $site-colors,
        $fixture-colors
      ), 
      $match-outcome-colors
    )
  ),
);