$site-colors: (
  "dark-nav": $gray-900,
) !default;

// scss-docs-start site-colors-map
$fixture-colors: (
  "fixture-status-fx": green,
  "fixture-status-ft": blue,
  "fixture-status-pp": red,
  "fixture-status-ab": yellow,
  "fixture-status-vd": rgb(83, 83, 81),

) !default;
// scss-docs-end site-colors-map

$match-outcome-colors: (
  "match-outcome-win": blue,
  "match-outcome-draw": green,
  "match-outcome-loss": red,
) !default;
 

$font-size-xlg:                $font-size-base * 1.5 !default;
$font-size-xxlg:               $font-size-base * 2 !default;

$bg-medium: $green-700;
$bg-dark: $green-900;

$adm-feature-box-bg: $gray-100;
$adm-feature-box-border-color: rgba($blue-600, .25);
$adm-feature-box-border-width: $border-width *2;
$adm-feature-box-border-radius:$border-radius-sm;
$adm-feature-box-shadow:$box-shadow;
